<!-- header  -->
<header>
  <app-header (toggle)="sidebarToggle()"></app-header>
</header>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" [opened]="sidebar">
    <!-- sidebar  -->
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <!-- main section  -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<!-- divider  -->
<!-- <mat-divider></mat-divider> -->
<!-- footer  -->
<!-- <footer class="hover:mt-8">
  <app-footer></app-footer>
</footer> -->
