<div class="imgsection p-3">
    <img class="w-24" src="https://cdn4.iconfinder.com/data/icons/line-system/512/admin-512.png" alt="">
    <h4>admin@gmail.com</h4>
</div>
<!-- <hr> -->
<mat-divider></mat-divider>
<!-- list-->
<div class="pages">
    <h3>Pages</h3>
    <a routerLink=""><mat-icon>dashboard</mat-icon>&nbsp;Dashboard</a>
    <a routerLink="products"><mat-icon>inventory_2</mat-icon>&nbsp;Products</a>
    <a routerLink="categories"><mat-icon>category</mat-icon>&nbsp;Categories</a>
    <a routerLink="inventory"><mat-icon>fact_check</mat-icon>&nbsp;Inventory</a>
    <a routerLink="reports"><mat-icon>poll</mat-icon>&nbsp;Reports</a>
    <a routerLink="team"> <mat-icon>groups</mat-icon>&nbsp;Team</a>
    <a routerLink="message"><mat-icon>comment</mat-icon>&nbsp;Message</a>
</div>
<!-- <mat-list role="list">
    <mat-list-item role="listitem">Item 1</mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list> -->
  
