<!-- <p>main-content works!</p> -->
<body>
    <div class="card">
        <!-- card -->
        <mat-card>
            <app-card
            bg="red"
            icon="inventory_2"
            content="PRODUCTS"
            total="249"
            ></app-card>
        </mat-card>
        <!-- card -->
        <mat-card>
            <app-card 
            bg="blue"
            icon="category"
            content="CATEGORIES"
            total="25"
            ></app-card>
        </mat-card>
        <!-- card -->
        <mat-card>
            <app-card
            bg="green"
            icon="group"
            content="CUSTOMERS"
            total="1500"
            ></app-card>
        </mat-card>
        <!-- card -->
        <mat-card>
            <app-card
            bg="orange"
            icon="notification_important"
            content="ALERTS"
            total="56"
            ></app-card>
        </mat-card>
    </div>
    
    <div class="area">
        <!-- area-chart -->
        <app-area-chart></app-area-chart>
    </div>
    
    <div class="parent">
    
        <div>
            <!-- table -->
            <app-table></app-table>
        </div>
        <div>
            <!-- pie-chart -->
            <app-pie-chart></app-pie-chart>
        </div>
    
    </div>   
</body>
